<html>
  <head>
    <title>KifuShare</title>
  </head>
  <body>
    {% if not user %}
      <a href="{{ login_link|fix_ampersands }}">Login</a>
    {% endif %}
    <form id="upload_form" action="/upload" enctype="multipart/form-data" method="post">
      <div><label for="id_file">File:</label> <input type="file" name="file" id="id_file" /></div>
      <div><label for="id_kifuname">Name:</label> <input type="text" name="kifuname" id="id_kifuname" /></div>
      <div><input type="submit" value="Upload" /></div>
    </form>
    {% if kifulist %}
      <ul>
        {% for kifu in kifulist %}
          <li><a href="/kifu?id={{kifu.key.id}}">{{ kifu.name|escape }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>
