{% extends "base.html" %}
{% block title %}棋譜アップロード{% endblock %}
{% block content %}
  <p>アップロードできる.kifファイルは柿木さんの<a href="http://homepage2.nifty.com/kakinoki_y/index.html#free%20soft">Kifu for window</a>などで作れます。</p>
  <form id="upload_form" action="/upload" enctype="multipart/form-data" method="post">
    <table>
      <tr>
        <th><label for="id_file">棋譜ファイル<br/>柿木形式(.kifファイル):</label></th><td><input type="file" name="file" id="id_file" /></td>
      </tr>
      <tr>
        <th><label for="id_kifuname">棋譜名:</label></th><td><input type="text" name="kifuname" id="id_kifuname" /></td>
      </tr>
      <tr>
        <th><label for="id_authorname">あなたのお名前:</label></th><td><input type="text" name="authorname" id="id_authorname" /></td>
      </tr>
      <tr>
        <th><label for="id_comment">コメント:</label></th><td><input type="text" name="comment" id="comment" /></td>
      </tr>
      <tr>
        <th></th><td><input type="submit" value="アップロード" /></td>
      </tr>
    </table>
  </form>
{% endblock %}
